<nav class="bg-white border-b sticky top-0 shadow-md">
    <div
        class="max-w-screen-xl mx-auto px-6 py-4 flex justify-between items-center"
    >
        <!-- Logo Section -->
        <a
            href="/"
            class="text-2xl font-bold text-gray-800 flex items-center space-x-2"
        >
            <span>EventManager</span>
        </a>

        <div class="flex space-x-8">
            <a href="/" class="text-gray-800 hover:text-blue-500">Home</a>
            <a href="/events/all" class="text-gray-800 hover:text-blue-500"
                >Events</a
            >

            <% if (currUser) { %>

            <a href="/events/create" class="text-gray-800 hover:text-blue-500"
                >Organize an Event</a
            >
            <a href="/students/logout" class="text-gray-800 hover:text-blue-500"
                >Log out</a
            >
            <% } else { %>
            <a
                href="/students/register"
                class="text-gray-800 hover:text-blue-500"
                >Register</a
            >
            <a href="/students/login" class="text-gray-800 hover:text-blue-500"
                >Log in</a
            >
            <% } %>
        </div>
    </div>
</nav>
